/*genel styl*/


body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

#container{    
    width: 60vw;
    height: 95vh;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;        
}
header{
    margin-top: 12vh;
}
#header-ilkdiv{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

/*color*/
#container{
    background-color: rgba(225, 229, 230, 0.7);
}

#ucnokta{
    color: rgba(242, 243, 239, 0.9);
    margin: 1vh 1vw 0 0;
}

#kucuktur{
    color: rgba(242, 243, 239, 0.9);
    font-size: small;
    margin: 2vh 0 0 1vw;
}


.header-daireler{
    background-color: rgba(192, 190, 197, 0.2);
}
/*typology*/
#sol-ust-daire{
    background-color: rgba(94, 193, 240, 0.5);
    width: 7vw;
    height: 14vh;
    border-radius: 50%;
}

#sag-ust-daire{
    background-color: rgba(94, 193, 240, 0.9);
    width: 9vw;
    height: 18vh;
    border-radius: 50%;
}

#sol-alt-daire{
    background-color: rgba(94, 193, 240, 0.8);
    width: 13vw;
    height: 26vh;
    border-radius: 50%;
}

#sag-alt-daire{
    background-color: rgba(94, 193, 240, 0.8);
    width: 14vw;
    height: 28vh;
    border-radius: 50%;
}

header{
    width: 20vw;
    height: 25vh;
    background-image: linear-gradient(to right, rgba(31, 148, 243, 1), rgba(31, 148, 243, 0.6));
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    position: relative;
}
/*
#icon-resim{
    font-size: 13vh;
    margin-bottom: -38px; 
    position: relative;
    top: -7vh; 
}*/
#profil-image{
    width :6vw;
    position: relative;
    bottom: 7.9vh;
    margin-bottom: -45px;
}

#socialmedia i{
    font-size: small;
    color: rgb(36, 36, 43, 0.7);  
}

#header-profil>div:last-child{
    font-size: 6px;
    color: rgb(36, 36, 43, 0.7);    
}

#header-profil>div:nth-child(2){
    font-size: 1vw; 
    color: rgb(36, 36, 43, 0.7);  
}

#header-profil>div:nth-child(3){
    font-size: 0.5vw; 
    color: rgb(36, 36, 43, 0.7); 
}

#header-buyuk-daire{
    width: 7vw; 
    height: 14vh;
    border-radius: 50%;   
}

#header-kucuk-daire{
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
}

#header-ortabuyuk-daire{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
}

#header-profil{
    width: 18vw;
    height: 20vh;   
    background-color:rgb(255,250,250 );
}
section{
    width: 20vw;
    height: 54vh;  
}

#account-icerik span{
    color: rgba(56, 54, 54,0.8);
    font-size: smaller;
}

/*layout*/    
#sol-ust-daire{
    margin-left: -40vw;
    margin-top: 8vh;
    position: absolute;
}

#sag-ust-daire{
    position: absolute;
    margin-left: 47vw;
    margin-top: -3vh;
}

#sol-alt-daire{
   position: absolute;
   margin-left: -55vw;
   margin-top: 56vh;
}

#sag-alt-daire{
   position: absolute;
   margin-left: 53vw;
   margin-top: 72vh;   
}

#header-profil{
    margin-left: 1vw;
    margin-top: -10vh;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
    box-shadow: 5px 4px 12px #b9b7b7;
}

#govde-kismi{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    background-color: rgba(253, 250, 2250,0.9);
    box-shadow: 5px 4px 8px #b9b7b7;
}

#socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12vw;
   
}

#account-kapsam{
    display: flex;
    flex-direction: column;
    justify-content : space-between ;
    background-color: rgb(255,250,250);
    padding: 0 1vw;
    margin: 14vh 1vw 0;
    border-radius: 2px;
    height: 20vh;
    box-shadow: 5px 10px 8px #b9b7b7;
    position: relative;
    top: 6px;
}

#account-header{
    position: relative;
    top: 12vh;
    left: 1vw;
    font-size: small;
    color: rgba(36, 36, 43, 0.5);
}

#privecy-icon{
    background-color: rgb(255,250,250);
    color: rgba(56, 54, 54,0.7);
    box-shadow: 2px 0 8px 0 #888888;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    position: relative;
    top: 7vh; 
}

#privecy-header{
    margin: 2vh 1vw -2vh 1vw;
    font-size: 1vw;
    position: relative;
    top: 3vh;
    color: rgba(36, 36, 43, 0.5);
}

#header-kucuk-daire{
    position: relative;
    top: -13vh;
    left: 12vw;
}

#header-buyuk-daire{
    position: relative;
    top:1vh;
}

#header-ortabuyuk-daire{
    position: relative;
    top:-18vh;
    left:17vw;
}
#update,#reset,#mydetail,#logout{
    width: 2vw;
    position: relative ;
    top: 5px;
}
.account-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#account-icerik i{
    position: relative;
    top:7px;
    color: rgba(56, 54, 54,0.7);
    font-size:1vw ; 
}



 


